@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
}
body{
    position: relative;
    width: 775px;
    margin: 0 auto;
}
#logo-div{
    height: 88px;
    width: 100%;
}
#logo-img{
    position: relative;
    background-color: #E5F3FF;
    width: 88px;
    height: 100%;
}
#number-div{
    margin-top: 16px;
    width: 100%;
    height: 120px;
    background-color: #E5F3FF;
    display: flex;
}
#contiainer{
    margin: 48px;
}
#title{
    font-size: 36px;
    font-weight: bold;
    margin-top: 16px;
}
#content-hello{
    padding-top: 14px;
    display: flex;
}