<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MailTemp</title>
</head>
<body>
<div style="height: 88px; width: 100%;">
    <div style="font-size: 36px; font-weight: bold; margin-top: 16px;" >OnlinePlanner 이메일 인증</div>
    <div style="padding-top: 14px;display: flex;">
        <div style="font-weight: bold;">안녕하세요&nbsp;</div>
        <div th:text="${name}" style="font-weight: bold;">김진근</div><div style="font-weight: bold;">님,</div>
    </div>
    <div ></div>
    <div style="display: flex;">
        <div>회원님의 이메일 &nbsp;</div>
        <div th:text="${email}"></div>
        <div>로 Online Planner 계정이 생성되었으며</div>
    </div>
    <div>메일 인증을 위해 아래의 인증번호를 이용하여 이메일 인증을 완료해주시기 바랍니다.</div>
    <div>
        <div style="margin-top: 16px; width: 100%; height: 120px; background-color: #E5F3FF; display: flex;">
            <div th:text="${code}"></div>
        </div>
    </div>
</div>
</body>
</html>